<div class="message-container">
    <div class="msg left-msg">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae officiis pariatur iste consequatur, esse dolorum eum aliquid nihil perferendis voluptatem enim, cumque tempore ab accusantium, nesciunt repellendus aut amet placeat?
    </div>
    <div class="msg right-msg">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, nihil ratione? At eum aliquid iste itaque officiis vitae accusantium reiciendis nihil, obcaecati ipsum dolor inventore consequuntur fugit, maiores in? Non tempora doloribus asperiores architecto consequuntur animi velit, placeat voluptate a quam ab pariatur ad aliquid quasi deserunt minus vel iusto.
    </div>
    <div class="msg right-msg">
        Lorem ipsum dolor sit amet, consectetur 
    </div>
    <div class="msg left-msg">
        Okay
    </div>
    <div class="msg left-msg">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae officiis pariatur iste consequatur, esse dolorum eum aliquid nihil perferendis voluptatem enim, cumque tempore ab accusantium, nesciunt repellendus aut amet placeat?
    </div>
    <div class="msg right-msg">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, nihil ratione? At eum aliquid iste itaque officiis vitae accusantium reiciendis nihil, obcaecati ipsum dolor inventore consequuntur fugit, maiores in? Non tempora doloribus asperiores architecto consequuntur animi velit, placeat voluptate a quam ab pariatur ad aliquid quasi deserunt minus vel iusto.
    </div>
    <div class="msg right-msg">
        Lorem ipsum dolor sit amet, consectetur 
    </div>
    <div class="msg left-msg">
        Okay
    </div>
    <div class="msg left-msg">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae officiis pariatur iste consequatur, esse dolorum eum aliquid nihil perferendis voluptatem enim, cumque tempore ab accusantium, nesciunt repellendus aut amet placeat?
    </div>
    <div class="msg right-msg">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, nihil ratione? At eum aliquid iste itaque officiis vitae accusantium reiciendis nihil, obcaecati ipsum dolor inventore consequuntur fugit, maiores in? Non tempora doloribus asperiores architecto consequuntur animi velit, placeat voluptate a quam ab pariatur ad aliquid quasi deserunt minus vel iusto.
    </div>
    <div class="msg right-msg">
        Lorem ipsum dolor sit amet, consectetur 
    </div>
    <div class="msg left-msg">
        <app-chat-msg-wrapper [isRight]="false" message="Okay"></app-chat-msg-wrapper>
    </div>
    <div class="msg left-msg">
        <app-chat-msg-wrapper [isRight]="false" message="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae officiis pariatur iste consequatur, esse dolorum eum aliquid nihil perferendis voluptatem enim, cumque tempore ab accusantium, nesciunt repellendus aut amet placeat?"></app-chat-msg-wrapper>
    </div>
    <div class="msg right-msg">
        <app-chat-msg-wrapper (onEdit)="editMessage('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, nihil ratione? At eum aliquid iste itaque officiis vitae accusantium reiciendis nihil, obcaecati ipsum dolor inventore consequuntur fugit, maiores in? Non tempora doloribus asperiores architecto consequuntur animi velit, placeat voluptate a quam ab pariatur ad aliquid quasi deserunt minus vel iusto.')" [isRight]="true" message="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, nihil ratione? At eum aliquid iste itaque officiis vitae accusantium reiciendis nihil, obcaecati ipsum dolor inventore consequuntur fugit, maiores in? Non tempora doloribus asperiores architecto consequuntur animi velit, placeat voluptate a quam ab pariatur ad aliquid quasi deserunt minus vel iusto."></app-chat-msg-wrapper>
    </div>
    <div class="msg right-msg">
        <app-chat-msg-wrapper (onEdit)="editMessage('')" [isRight]="true" message="Lorem ipsum dolor sit amet, consectetur"></app-chat-msg-wrapper>
    </div>
    <div class="msg right-msg">
        <app-chat-image-wrapper [imageSrc]="'/assets/img/photo4.jpg'"></app-chat-image-wrapper>
    </div>
    <div class="msg left-msg">
        Okay
    </div>
</div>