.large-input {
  height: 20vh;
  width: 35vh;

}
.file-preview {
    font-size: 14px;
    color: #333;
  }
  .img-thumbnail {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
  }