.table {
    font-size: 18px;
    text-align: left;
    border-collapse: collapse;
  }
  
  .header {
    background-color: rgb(94, 186, 163);
    text-align: center;
    justify-content: center;
    right: 10px;
  
    th{
      font-size: 12px;
      font-weight: 500;
      padding: 8px 4px;
    }
  }
  
  table{
    td{
      padding: 2px;
    }
  
    /* Hide spinner arrows */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  
    input[type="number"] {
      -moz-appearance: textfield; /* Firefox */
      appearance: textfield; /* Modern browsers */
    }
  }
  
  .button-container-quant {
    white-space: nowrap;
    margin-left: 90px;
  }
  
  .number-button {
    display: inline-block;
    height: 25px;
    width: 27px;
    margin-top: 8px;
    margin-left: 2px;
    text-align: justify;
    padding-left: 4px;
    padding-top: 2px;
    font-size: small;
    font-weight: 500;
    justify-items: center;
    border-radius: 0;
  }
  
  .button-container-reasoning {
    margin-left: 90px;
    white-space: nowrap;
  }
  
  .custom-success {
    display: inline-block;
    border-radius: 0;
    height: 25px;
    width: 27px;
    margin-left: 2px;
    padding-left: 6px;
    padding-top: 2px;
    margin-top: 8px;
    text-align: justify;
    font-size: small;
    font-weight: 500;
    justify-items: center;
  }
  
  .button-container-english {
    margin-left: 90px;
    white-space: nowrap;
  }
  .button-container-english .btn-success {
    display: inline-block;
    border-radius: 0;
    margin-left: 2px;
    width: 27px;
    height: 25px;
    font-size: small;
    text-align: justify;
    justify-items: center;
    padding-left: 6px;
    padding-top: 2px;
    margin-top: 8px;
    font-weight: 500;
  }
  
  .btn-container-general {
    margin-left: 90px;
    white-space: nowrap;
  }
  
  .btn-container-general .btn-success {
    display: inline-block;
    border-radius: 0;
    margin-left: 2px;
    width: 27px;
    height: 25px;
    font-size: small;
    text-align: justify;
    justify-items: center;
    padding-left: 6px;
    padding-top: 2px;
    margin-top: 8px;
    font-weight: 500;
  }
  
  .btn-container-computer {
    margin-left: 90px;
    white-space: nowrap;
  }
  
  .btn-container-computer 
  .table {
    border-collapse: collapse; /* Ensures borders between cells are merged */
    width: calc(100% - 40px);
    font-size: 14px;
  }
  .table tr {
    border-bottom: 2px solid #ccc; /* Optional: add border between rows */
  
  }
  
  .text-detail-row{
    text-align: center;
    font-size: 12px;
    margin-bottom: 2px;
  
    strong{
      font-size: 16px;
      font-weight: 500;
    }
  
    b{
      font-weight: 500;
    }
  }

  
  .section-detail-row{
    width: 100%;
    border: 1px solid #ccc;
    border-bottom: none;
    display: grid;
    grid-template-columns: 1fr 30px 30px 30px;
    height: 45px;
    padding: 0px 10px;
    background-color: rgba(0,0,0,.075);
  
    .name{
      height: 100%;
      line-height: 45px;
      font-weight: 500;
    }
  
    .number-button{
      height: fit-content;
      width: 100%;
      padding: 2px 6px;
      margin-top: 8px;
      color: #fff;
      background-color: #28a745;
      border-color: #28a745;
      box-shadow: none;
      border: 1px solid;
    }
  }
  
  
  input[type="radio"]{
    margin-right: 10px;
  
    & + label{
      margin-right: 10px;
    }
  }
  
  .card{
    position: relative;
  
    .srno{
      width: fit-content;
      aspect-ratio: 1;
      position: absolute;
      top: 0;
      left: 0;
      padding: 5px 10px;
      transform: translate(-50%, -50%);
      border: 1px solid #ccc;
      border-radius: 50%;
      background-color: #fff;
    }
  }

  .list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    margin-top: 70px;
  }