<p>coupon-affiliate-detail works!</p>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a routerLink="/dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Plan Highlight</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Plan Highlight</h3>
            </div>
            <!-- /.card-header -->

            <!-- form start -->
            <form [formGroup]="PlanHighlightForm">
              <div class="card-body">
                <div class="form-group row">
                  <label for="name" class="col-sm-2 col-form-label">
                    Name
                  </label>
                  <div class="col-sm-10">
                    <input
                      id="name"
                      type="text"
                      class="form-control"
                      placeholder=" Enter Name..."
                      formControlName="name"
                    />
                  </div>
                </div>

                <div class="form-group row">
                  <label for="heading" class="col-sm-2 col-form-label">
                    Heading
                  </label>
                  <div class="col-sm-10">
                    <input
                      id="heading"
                      type="text"
                      class="form-control"
                      placeholder="Heading"
                      formControlName="heading"
                    />
                  </div>
                </div>

                <div class="form-group row">
                  <label for="highlight" class="col-sm-2 col-form-label">
                    Highlight
                  </label>
                  <div class="col-sm-10">
                    <input
                      id="highlight"
                      type="text"
                      class="form-control"
                      placeholder="Highlight..."
                      formControlName="highlight"
                    />
                  </div>
                </div>
              </div>

              <!-- /.card-body -->
              <div class="card-footer">
                @if (!isUpdateMode) {
                <button
                  type="submit"
                  class="btn btn-primary"
                  (click)="createPlanHighlight()"
                >
                  Submit
                </button>
                }@else{
                <button
                  type="submit"
                  class="btn btn-primary"
                  (click)="updatePlanHighlight(editPlanHighlightId)"
                >
                  Update
                </button>
                }

                <button
                  type="submit"
                  class="btn btn-default float-right"
                  (click)="clearForm()"
                >
                  Clear Form
                </button>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->

  <section class="content" style="padding-bottom: 15px">
    <div class="container-fluid">
      <app-data-table
        (Edit)="editPlanHighlight($event)"
        (Remove)="deletePlanHighlight($event)"
        [dataObs]="dataObs"
        [tableCols]="tableCols"
        #dttable
      ></app-data-table>
    </div>
  </section>
</div>
