<div class="profile-card" [ngClass]="{'active':isOpened()}">
    <div class="icon">
        <!-- <div class="text">
            A
        </div> -->
        <div class="img">
            <img src="/assets/img/profile.jpeg" alt="profile image">
        </div>
    </div>
    <div class="text-details">
        <div class="upper"><h3 class="name">Rajeev</h3> <div class="last-time">Yesterday</div> <div class="star"><i class="fa-solid fa-star"></i></div></div> 
        <p class="last-message">hello, rajeev is here...</p>
    </div>
</div>