<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active"> Add PDF'S</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Add PDF'S</h3>
                        </div>
                        <!-- /.card-header -->

                        <!-- form start -->
                        <form [formGroup]="AddPdfsForm">

                            <div class="card-body">

                                <div class="form-group row">
                                    <label for="category" class="col-sm-2 col-form-label">
                                        Category
                                    </label>
                                    <div class="col-sm-10">
                                        <select name="category" id="category" type="text" class="form-control"
                                            formControlName="category">
                                            <option value="" disabled>Select Category </option>

                                            @for (category of CategoryListDropdown$ | async ; track $index) {
                                            <option [value]="category.id">{{ category.name }}</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <!--  ADD Button For Add Rows  -->
                                <button (click)="addRows()" class="add-btn" type="button"> Add </button>

                                <!-- Table -->
                                <table class="table border">
                                    <thead class="table-th">
                                        <tr>
                                            <th style="padding-left: 30px;">Title</th>
                                            <th style="padding-left: 160px;">Pdf</th>
                                            <th style="padding-left: 30px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of rows let i = index">
                                            <td>
                                                <div class="form-group row">
                                                    <div class="col-sm-10">
                                                        <input id="title" type="text" class="form-control"
                                                            formControlName="title" />
                                                    </div>
                                                </div>
                                            </td>


                                            <td>
                                                <div class="form-group row">
                                                    <div class="pdf">
                                                        <div class="custom-file">
                                                            <input id="pdf" class="custom-file-input"
                                                                (change)="onPdfFileUpload($event, row)" type="file"
                                                                [attr.data-row]="row" accept="application/pdf"
                                                                required />
                                                            <label class="custom-file-label" for="pdf">Choose
                                                                file</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <button class="remove-btn btn btn-danger btn-sm" (click)="removeRow(i)">
                                                    Remove
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                @if (!isUpdateMode) {
                                <button type="submit" class="btn btn-primary" (click)="createAddPDFs()">
                                    Submit
                                </button>
                                }@else{
                                <button type="submit" class="btn btn-primary" (click)="updateAddPDFs(editAddPDFsId)">
                                    Update
                                </button>
                                }

                                <button type="submit" class="btn btn-default float-right" (click)="clearForm()">
                                    Clear Form
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    <section class="content" style="padding-bottom: 15px">
        <div class="container-fluid">
            <app-data-table (Edit)="editAddPDFs($event)" (Remove)="deleteAddPDFs($event)" [dataObs]="dataObs"
                [tableCols]="tableCols" #dttable></app-data-table>
        </div>
    </section>
</div>