

<button class="btn btn-sm btn-danger close" mat-dialog-close aria-label="Close dialog">
  <mat-icon>close</mat-icon>
</button>

<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title"> Add Question To Test </h3>
  </div>

  <form [formGroup]="AddQuestTestForm">
    <div class="card-body mt-4 pt-1">

      <div class="form-group row align-items-center">
        <!-- Question Type -->
        <label for="questionType" class="col-sm-2 col-form-label">Question Type</label>
        <div class="col-sm-4 d-flex align-items-center">
          <div class="custom-control custom-radio mr-3">
            <input class="custom-control-input" type="radio" id="direct" [value]="QuestionTypeEnum.Single" formControlName="questionType"
              checked />
            <label for="direct" class="custom-control-label">Direct</label>
          </div>
          <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" id="summaryBased" formControlName="questionType" [value]="QuestionTypeEnum.Multiple"/>
            <label for="summaryBased" class="custom-control-label">Summary Based</label>
          </div>
        </div>


        <!-- Question Level -->
        <label for="levels" class="col-form-label" style="padding-right: 50px;">Question Level</label>
        <div class="col-sm-4">
          <select name="levels" id="levels" class="form-control" formControlName="levels">
            <option [value]="QuestionLevel.None" disabled>Select Question Level</option>
            <option [value]="QuestionLevel.Easy">Easy</option>
            <option [value]="QuestionLevel.Moderate">Moderate</option>
            <option [value]="QuestionLevel.Difficult">Difficult</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="keywords" class="col-sm-2 col-form-label"> Keywords </label>
        <div class="col-sm-8">
          <mat-selection-list id="keywords" (selectionChange)="onKeywordSelect()" [multiple]="true"
            formControlName="keywords">
            @for (keyword of KeywordsListDropdown$ | async; track keyword.id) {
            <mat-list-option [disableRipple]="true" [value]="keyword.id">{{keyword.name}}</mat-list-option>
            }
          </mat-selection-list>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label for="MasterCategory" class="col-sm-4 col-form-label">Exam Master Category</label>
            <div class="col-sm-8">
              <select name="catId" id="MasterCategory" class="form-control" formControlName="mainCategory"
                (change)="onSelectMainCategory()">
                <option value=""> Select Exam MasterCategory </option>

                @for (category of MainCategoryListDropdown$ | async ; track $index) {
                <option [value]="category.id">{{category.name}}</option>
                }
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label for="ExamCategory" class="col-sm-3 col-form-label">Exam Category</label>
            <div class="col-sm-9">
              <select name="ExamCategory" id="ExamCategory" class="form-control"
                formControlName="examCategory" (change)="onExamCategorySelect()">
                <option value=""> Select Exam Category </option>
                @for (category of ExamCategoryListDropdown$ | async ; track $index) {
                  <option [value]="category.id">{{category.name}}</option>
                }
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="examType" class="col-sm-2 col-form-label">Exam Types</label>
        <div class="col-sm-10">
          <mat-selection-list id="examType" [multiple]="true"
            formControlName="examType">
            <mat-list-option *ngFor="let examtype of (ExamTypeListDropdown$ | async)" [value]="examtype.id">
              {{ examtype.name }}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
    </div>
    


    <!-- <div class="card-footer">
      <button type="submit" class="btn btn-primary" (click)="onSubmit()"> Submit</button>

      <button type="submit" class="btn btn-default float-right" mat-dialog-close>Cancel</button>
    </div> -->
  </form>
</div>


<app-data-table [isEditNotNeeded]="true" [isDeleteNotNeeded]="true" [dataObs]="dataObs" [tableCols]="tableCols" #dttable></app-data-table>

<!-- @for (question of this.questionList$ | async; track question.quesId) {
  <p>{{question.ques}}</p>
} -->

<ng-template #actions let-data="adtData" let-saveMethod="saveMethod" let-editMethod="editMethod" let-viewMethod="viewMethod">
  <div class="btn-grid">
    <button class="view-btn btn btn-warning btn-sm" (click)="saveMethod(data)"><i class="fa-solid fa-circle-plus"></i></button>
    <button class="save-btn btn btn-warning btn-sm" (click)="viewMethod(data)"><i class="fa-solid fa-eye"></i></button>
    <button class="edit-btn btn btn-success btn-sm" (click)="editMethod(data)"><i class="fa-solid fa-pen-to-square"></i></button>
  </div>
</ng-template>