.container {
  width: 100%;
  margin-top: 0;
  justify-content: center;
}

.header {
  display: flex;
  width: 110rem;
  margin-left: -18%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(106, 102, 102);
  color: #fff;
  padding: 2px 40px;
  height: 9rem;
}

.selectBox {
  margin-top: -80px;
  width: 100px;
  height: 3vh;
  padding-left: 7px;
  border-radius: 3px;
}

.main-heading {
  margin-bottom: 90px;
  text-decoration: underline;
}

.stats {
  margin-bottom: 5px;
  font-size: small;
  font-weight: 550;
  line-height: 1;
  margin-top: 60px;
  margin-bottom: 20px;
  display: grid;
  justify-items: end;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
}

.card-pair {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-bottom: -8px;
  background-color: rgb(106, 102, 102);
}

.merged-card {
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fa;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: none;
  width: 110rem;
  margin-left: 26%;
}

.card-section {
  width: 110rem;
  height: 55vh;
  padding-top: 50px;
  margin-left: 50px;
  // margin-bottom: -30%;
}

.custom-hr {
  margin-top: 10%;
  width: 90%;
}

.number {
  font-size: 18px;
  color: #999;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  width: 215%;
  padding-bottom: 25px;
  margin-left: -55px;
}

.divider-line {
  width: 2px;
  background-color: #ccc;
  height: 20rem;
  margin: 0 9px;
}

.footer-header {
  width: 109rem;
  margin-left: 235px;
  height: 9vh;
  background-color: #5e860d;
  margin-top: -20%;
}

.header-firstline {
  display: flex;
  word-spacing: 5px;
  gap: 250px;
  margin-left: 30px;
  color: white;
  margin-top: 15px;
  padding: 2px;
}

// For Hover Input Effects on Question Mark
.hover-input {
  display: none;
  margin-left: 10px;
  padding: 5px;
}

.question-container:hover .hover-input {
  display: inline-block;
}

.header-secline {
  display: flex;
  margin-left: 30px;
  color: white;
  word-spacing: 5px;
  gap: 300px;
  margin-top: -15px;
}

.header2-section {
  display: flex;
  height: 7vh;
  color: white;
  gap: 60px;
  margin-left: 235px;
  background-color: rgb(8, 123, 100);
  margin-top: 1px;
  width: 109rem;
}

.toppertime-input {
  position: relative;
  margin-right: 90px;
}
// On Topper Time Hover input
.toppertime-input:hover .hover-input {
  display: inline-block;
}

.order-input {
  margin-right: 120px;
  position: relative;
}
.order-input:hover .hover-input {
  display: inline-block;
}

.header2-section p {
  margin-left: 30px;
  word-spacing: 5px;
  padding-top: 20px;
}

// .container {
//   width: 100%;
//   margin-top: 0;
//   justify-content: center;
// }

// .header {
//   display: flex;
//   width: 110rem;
//   margin-left: -18%;
//   justify-content: space-between;
//   align-items: center;
//   background-color: rgb(106, 102, 102);
//   color: #fff;
//   padding: 2px 40px;
//   height: 9rem;
// }

// .selectBox {
//   margin-top: -80px;
//   width: 100px;
//   height: 3vh;
//   padding-left: 7px;
//   border-radius: 3px;
// }

// .main-heading {
//   margin-bottom: 90px;
//   text-decoration: underline;
// }

// .stats {
//   margin-bottom: 5px;
//   font-size: small;
//   font-weight: 550;
//   line-height: 1;
//   margin-top: 60px;
//   margin-bottom: 20px;
//   display: grid;
//   justify-items: end;
// }

// .first-card {
//   width: 63em;
//   margin-left: -12%;
//   padding-left: 15px;
//   box-shadow: 0 -6px 15px rgba(50, 50, 50, 0.6);
//   border-radius: 0;
//   height: 48vh;
// }

// .second-card {
//   width: 63em;
//   margin-left: -200px;
//   height: 48vh;
//   box-shadow: 0 -6px 15px rgba(50, 50, 50, 0.6);
// }
// .footer-header {
//   width: 81vw;
//   margin-top: -1%;
//   margin-left: -97.3%;
//   height: 9vh;
//   background-color: #5e860d;
// }

// .header-firstline {
//   display: flex;
//   word-spacing: 5px;
//   gap: 250px;
//   margin-left: 30px;
//   color: white;
//   margin-top: 15px;
//   padding: 2px;
// }

// // For Hover Input Effects on Question Mark
// .hover-input {
//   display: none;
//   margin-left: 10px;
//   padding: 5px;
// }

// .question-container:hover .hover-input {
//   display: inline-block;
// }

// .header-secline {
//   display: flex;
//   margin-left: 30px;
//   color: white;
//   word-spacing: 5px;
//   gap: 315px;
//   margin-top: -15px;
// }

// .header2-section {
//   display: flex;
//   height: 7vh;
//   color: white;
//   gap: 60px;
//   margin-left: -97.3%;
//   background-color: rgb(8, 123, 100);
//   margin-top: 1px;
//   width: 81vw;
// }

// .toppertime-input {
//   position: relative;
//   margin-right: 90px;
// }
// // On Topper Time Hover input
// .toppertime-input:hover .hover-input {
//   display: inline-block;
// }

// .order-input {
//   margin-right: 120px;
//   position: relative;
// }
// .order-input:hover .hover-input {
//   display: inline-block;
// }

// .header2-section p {
//   margin-left: 30px;
//   word-spacing: 5px;
//   padding-top: 20px;
// }

// .bottom-card {
//   width: 82vw;
//   box-shadow: 0 -6px 15px rgba(50, 50, 50, 0.6);
//   height: 70vh;
//   margin-left: -17%;
//   padding-left: 20px;
//   margin-bottom: 60px;
// }

// .icon-btn-container {
//   float: right;
//   margin-right: -105%;
//   cursor: pointer;
// }

// .number-text {
//   font-size: 18px;
//   color: #999;
//   margin-bottom: 30px;
//   border-bottom: 1px solid #ddd;
//   width: 162vh;
//   padding-bottom: 25px;
// }

// .options {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 100px;
// }

// .right-card {
//   padding-top: 120px;
// }

// .card-borderline {
//   border-left: 1px solid #ccc;
//   height: 105%;
// }
