<div class="container">

    <!-- Header Section -->
    <div class="header">
        <select class="selectBox">
            <option>English</option>
            <option>Hindi</option>
        </select>
        <h2 class="main-heading">Reasoning Aptitude</h2>
        <div class="stats">
            <p>Total Time : 01 : 54 : 06 mins</p>
            <p>T Sec. Time : 00:25:55 | 24 mins</p>
            <p>(250) Marks Added : 50 | 50</p>
            <p>Gained Marks : 131.25</p>
        </div>
    </div>
    <!-- Top Cards Section -->
    <div class="card-container mt-0">
        <div class="card-pair">
            <!-- First Card -->
            <div class="merged-card pl-2">
                <div class="card-section">
                    <p>Immediate neighbours of I face in different directions.</p>
                    <p><b>Inference:</b></p>
                    <p>From above statement, we get the following cases:</p>
                    <p style="margin-top: 20px;"><b>Case 1:</b> In this case, equal numbers of people face towards
                        and away from the center. Thus, the case is not valid.</p>
                    <p style="margin-top: 40px;"><b>Case 2:</b> We get the final arrangement as below.</p>

                    <hr class="custom-hr">

                </div>
                <div class="divider-line"></div>
                
                <!-- Second Card -->
                 
                <div class="card-section pl-0">
                    <p>Immediate neighbours of I face in different directions.</p>
                    <p><b>Inference:</b></p>
                    <p>From above statement, we get the following cases:</p>
                    <p class="mt-3"><b>Case 1:</b> Equal numbers of people face towards and away from the center. Thus,
                        the case is not valid.</p>
                    <p class="mt-5"><b>Case 2:</b> We get the final arrangement as below.</p>
                   
                    <hr class="custom-hr">
                </div>
                
            </div>
            
        </div>

        <!--  Footer -->
        <div class="footer-header">
            <div class="header-firstline">
                <p> Chapter Seating Arrangement </p>
                <p> Keywords : Circular</p>
                <p> Exam Type UIIC Assistant </p>
                <p class="question-container"> Question Mark : <input type="text" class="hover-input"></p>
            </div>
            <div class="header-secline">
                <p> Summery Level : Easy </p>
                <p> Layer </p>
                <p class="ml-5"> Avg Time 374 Sec </p>
                <p> Minimum Solution Time : 0 Sec</p>
            </div>
            <p style="margin-left: 30px; margin-top: -10px; color: white;">Question Level : Moderate </p>
        </div>
        <div class="header2-section">
            <p class="toppertime-input">Topper Time : <input type="number" class="hover-input"></p>
            <p class="order-input">Order <input type="number" class="hover-input"></p>
            <p style="margin-right: 140px;"><input type="radio">Correct</p>
            <p style="margin-right: 150px;"><input type="radio">Incorrect</p>
            <p style="margin-right: 140px;"><input type="radio">Skipped</p>
            <p><input type="radio">Unseen</p>
        </div>
    </div>

    <!-- Bottom Cards Section -->
    <div class="card-container">
        <div class="card-pair">
            <!-- Merged Bottom Card -->
            <div class="merged-card">
                <!-- Left Section -->
                <div class="card-section p-4">
                    <p class="number"> 395536</p>
                    <strong>Direction:</strong> Study the following information and answer the given questions
                    carefully.<br><br>
                    <p>
                        Eight people i.e. A, B, C, D, I, J, K, and L are sitting on a circular table. Some of them face
                        towards the center and some face away from the center.
                    </p>
                    <p><b>Who sits 3<sup>rd</sup> to the right of the one who is 2nd to the left of K?</b></p>
                    <div class="options">
                        <p>(A) J</p>
                        <p>(B) A</p>
                        <p style="color:navy;">(C) B</p>
                        <p>(D) I</p>
                        <p>(E) C</p>
                    </div>
                </div>
                <!-- Right Section -->


                <div class="card-section mt-5">
                    <strong>निर्देश:</strong> निम्नलिखित जानकारी का अध्ययन करें और दिए गए प्रश्नों का उत्तर ध्यानपूर्वक
                    दें।<br><br>
                    <!-- <div style="border-left: 2px solid black; height: 100px;"></div> -->
                    <p>
                        आठ व्यक्ति, A, B, C, D, I, J, K, और L, एक गोल मेज पर बैठे हैं। इनमें से कुछ केंद्र की ओर और कुछ
                        केंद्र से दूर मुख कर रहे हैं।
                    </p>
                    <p><b>K के बाएं और दूसरे स्थान पर बैठे व्यक्ति के दाईं ओर तीसरे स्थान पर कौन बैठा है?</b></p>
                    <div class="options">
                        <p>(A) J</p>
                        <p>(B) A</p>
                        <p style="color: navy;">(C) B</p>
                        <p>(D) I</p>
                        <p>(E) C</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>






























    <!-- llllllllllllllllllllllllllllll  -->
    <!-- <div class="container"> -->

    <!--Header Section -->

    <!-- <div class="header">
        <select class="selectBox">
            <option>English</option>
            <option>Hindi</option>
        </select>
        <h2 class="main-heading">Reasoning Aptitude</h2>
        <div class="stats">
            <p>Total Time : 01 : 54 : 06 mins</p>
            <p>T Sec. Time : 00:25:55 | 24 mins</p>
            <p>(250) Marks Added : 50 | 50</p>
            <p>Gained Marks : 131.25</p>
        </div>
    </div> -->

    <!-- <div class="row"> -->

    <!-- First Card -->
    <!-- 
        <div class="d-flex justify-content-between">
            <div class="card first-card">
                <div class="card-body">
                    <p>Immediate neighbours of I face in different directions.</p>
                    <p><b>Inference : </b></p>
                    <p>From above statement we get following cases:</p>
                    <p style="margin-top: 20px;"><b>Case1:</b> In this case equal number of people facing towards centre
                        and away
                        from the centre. Thus case is not valid. </p>
                    <p style="margin-top: 40px;"><b>Case2</b> We get final arrangement as below. </p>
                </div>
            </div> -->

    <!--  Second Card  -->

    <!-- <div class="card second-card">
                <div class="card-body">
                    <p>Immediate neighbours of I face in different directions.</p>
                    <p><b>Inference</b></p>
                    <p>From above statement we get following cases :</p>
                    <p class="mt-3"><b>Case1:</b> In this case equal number of people facing towards centre and away
                        from the centre. Thus case is not valid. </p>
                    <p class="mt-5"><b>Case2:</b> We get final arrangement as below </p>
                </div> -->



    <!--  Footer -->
    <!-- <div class="footer-header">
                    <div class="header-firstline">
                        <p> Chapter Seating Arrangement </p>
                        <p> Keywords : Circular</p>
                        <p> Exam Type UIIC Assistant </p>
                        <p class="question-container"> Question Mark : <input type="text" class="hover-input"></p>
                    </div>
                    <div class="header-secline">
                        <p> Summery Lavel : Easy </p>
                        <p> Layer </p>
                        <p> Avg Time 374 Sec </p>
                        <p> Minimum Solution Time : 0 Sec</p>
                    </div> -->
    <!-- <p style="margin-left: 30px; margin-top: -10px; color: white;">Question Level : Moderate </p>
                </div>
                <div class="header2-section">
                    <p class="toppertime-input">Topper Time : <input type="number" class="hover-input"></p>
                    <p class="order-input">Order <input type="number" class="hover-input"></p>
                    <p style="margin-right: 140px;"><input type="radio">Correct</p>
                    <p style="margin-right: 150px;"><input type="radio">Incorrect</p>
                    <p style="margin-right: 140px;"><input type="radio">Skipped</p>
                    <p><input type="radio">Unseen</p>
                </div>
            </div>
        </div>
    </div> -->

    <!--  Form bottom Cards Start -->

    <!-- <div class="bottom-card">
        <div class="row"> -->
    <!-- Left Card -->
    <!-- <div class="col-md-6">
                <div style="height: 100%;">
                    <div class="card-body">
                        <div class="icon-btn-container"> -->

    <!-- Delete Icon Button -->

    <!-- <button class="btn btn-outline-danger btn-sm"
                                style="background-color:#dc3545; color: white;">
                                <i class="fas fa-trash-alt"></i>
                            </button> -->

    <!-- Edit Icon Button -->
    <!-- <button class="btn btn-outline-success btn-sm mx-1 edit-btn"
                                style="background-color: #28a745; color: white;" title="Edit">
                                <i class="fas fa-edit"></i>
                            </button>
                        </div> -->

    <!-- 
                        <p class="number-text">395536</p>

                        <strong>Direction: Study the following information and answer the given questions
                            carefully.</strong>
                        <br>
                        <hr>
                        <p>
                            Eight people i.e. A, B, C, D, I, J, K, and L are sitting on a circular table. Some of them
                            face towards the center and some face away from the center. ...
                        </p>

                        <hr>
                        <strong>Question:</strong>
                        <p><b>Who sits 3<sup>rd</sup> to the right of the one who is 2nd to the left of K?</b></p>
                        <div class="options">
                            <p>(A) J</p>
                            <p>(B) A </p>
                            <p style="color:navy;">(C) B </p>
                            <p>(D) I </p>
                            <p>(E) C </p>
                        </div>
                        <hr>
                        <strong>Explanation:</strong><br>
                        <p class="mt-4" style="padding-bottom: 10px;">
                            Following the common explanation, we get "B is 3rd to the right of J who is 2nd to the left
                            of K".<br><br>
                            Hence, option C is correct.
                            <br>
                        </p>
                        <strong> Final Arrangement:</strong>
                        <br>
                        <br>
                    </div>
                    <strong class="pl-3"> Common Explanation : </strong>
                    <br><br>
                    <strong class="pl-3"> Reference </strong>
                    <p class="ml-3 mt-3">B sits 2<sup>nd</sup> to the right of A. </p>
                    <p class="ml-3">I is to the immediate left of B.</p>
                </div>

            </div> -->

    <!-- Right Card -->
    <!-- <div class="right-card col-md-6">
                <div class="card-borderline">
                    <div class="card-body" style="margin-top: -40px; padding-left: 40px;">
                        <strong>निर्देश: निम्नलिखित जानकारी का अध्ययन करें और दिए गए प्रश्नों का उत्तर
                            ध्यानपूर्वक दें।</strong>
                        <hr>
                        <p>
                            आठ व्यक्ति, A, B, C, D, I, J, K, और L, एक गोल मेज पर बैठे हैं। इनमें से कुछ केंद्र की ओर और
                            कुछ केंद्र से दूर मुख कर रहे हैं। ...
                        </p>
                        <hr class="mt-4">
                        <p><strong>Question :</strong></p>
                        <p>K के बाएं और दूसरे स्थान पर बैठे व्यक्ति के दाईं ओर तीसरे स्थान पर कौन बैठा है?</p>
                        <div class="options">
                            <p>(A) J</p>
                            <p>(B) A </p>
                            <p style="color: navy;">(C) B </p>
                            <p>(D) I </p>
                            <p>(E) C </p>
                        </div>
                        <hr>
                        <strong>Explanation:</strong><br>
                        <p class="mt-4" style="padding-bottom: 10px;">
                            Following the common explanation, we get "B is 3rd to the right of J who is 2nd to the left
                            of K".<br><br>
                            Hence, option C is correct.
                            <br>
                        </p>
                        <strong> Final Arrangement:</strong>
                        <br>
                        <br>
                    </div>
                    <strong style="padding-left: 40px;"> Common Explanation : </strong>
                    <br><br>
                    <strong style="padding-left: 40px;"> Reference </strong>
                    <p class="mt-3" style="padding-left: 40px;">B sits 2<sup>nd</sup> to the right of A. </p>
                    <p class="ml-3" style="padding-left: 25px;">I is to the immediate left of B.</p>
                </div>
            </div>
        </div>
    </div>
</div> -->