
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/dashboard">Dashboard</a>
              </li>
              <li class="breadcrumb-item active"> Questions</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title"> Questions </h3>
              </div>
              <!-- /.card-header -->
  
              <!-- form start -->
  
              <form [formGroup]="QuestionsForm">
                <div class="card-body">
                  
                </div>
  
                <!-- /.card-body -->
                <div class="card-footer">
                  <!-- @if (!isUpdateMode) {
                  <button
                    type="submit"
                    class="btn btn-primary"
                    (click)="createExamFAQ()"
                  >
                    Submit
                  </button>
                  }@else{
                  <button
                    type="submit"
                    class="btn btn-primary"
                    (click)="updateExamFAQ(editExamFAQId)"
                  >
                    Update
                  </button>
                  }
  
                  <button
                    type="submit"
                    class="btn btn-default float-right"
                    (click)="clearForm()"
                  >
                    Clear Form
                  </button> -->
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  
    <section class="content" style="padding-bottom: 15px">
      <div class="container-fluid">
        <app-data-table
          [dataObs]="dataObs"
          [tableCols]="tableCols"
          #dttable
        ></app-data-table>
      </div>
    </section>
  </div>
  