<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a routerLink="/dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Dashboard Slider</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Dashboard Slider</h3>
            </div>
            <!-- /.card-header -->

            <!-- form start -->
            <form [formGroup]="dashbordSlidForm">
              <div class="card-body">
                <div class="form-group row">
                  <label for="image" class="col-sm-2 col-form-label"
                    >Image (950 x 400)</label
                  >
                  <div class="col-sm-10">
                    <div class="custom-file">
                      <input
                        id="image"
                        (change)="onImgUpload($event)"
                        type="file"
                        class="custom-file-input"
                        formControlName="image"
                        accept="image/*"
                      />
                      <label class="custom-file-label" for="image"
                        >Choose File</label
                      >
                    </div>
                    <!-- Use *ngIf for conditionally displaying the image preview -->
                    <img
                      *ngIf="previewImage"
                      [src]="previewImage"
                      width="200"
                      alt="Image Preview"
                    />
                  </div>
                </div>

                <div class="form-group row">
                  <label for="groupId" class="col-sm-2 col-form-label">
                    Group
                  </label>
                  <div class="col-sm-10">
                    <mat-form-field appearance="outline" style="width: 100%">
                      <mat-label>Select Group</mat-label>
                      <mat-select formControlName="groupId" multiple>
                        <mat-option [value]="1">Alabama</mat-option>
                        <mat-option [value]="2">Alaska</mat-option>
                        <mat-option [value]="3">California</mat-option>
                        <mat-option [value]="4">Delaware</mat-option>
                        <mat-option [value]="5">Tennessee</mat-option>
                        <mat-option [value]="6">Texas</mat-option>
                        <mat-option [value]="7">Washington</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="linkurl" class="col-sm-2 col-form-label"
                    >Link URL</label
                  >
                  <div class="col-sm-10">
                    <input
                      id="linkurl"
                      type="text"
                      class="form-control"
                      placeholder="Enter Link URL"
                      formControlName="linkurl"
                    />
                  </div>
                </div>
              </div>

              <!-- /.card-body -->
              <div class="card-footer">
                @if (!isUpdateMode) {
                <button
                  type="submit"
                  class="btn btn-primary"
                  (click)="createDashboard()"
                >
                  Submit
                </button>
                }@else{
                <button
                  type="submit"
                  class="btn btn-primary"
                  (click)="updateDashboard(editDashboardId)"
                >
                  Update
                </button>
                }

                <button
                  type="submit"
                  class="btn btn-default float-right"
                  (click)="clearForm()"
                >
                  Clear Form
                </button>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->

  <section class="content" style="padding-bottom: 15px">
    <div class="container-fluid">
      <app-data-table
        (Edit)="editDashboard($event)"
        (Remove)="deleteDashboard($event)"
        [dataObs]="dataObs"
        [tableCols]="tableCols"
        #dttable
      ></app-data-table>
    </div>
  </section>
</div>
